---
---

$link-color: #ccccdd;
$hover-color: #efefff;
$site-bg-color: #444444;
$text-color: #DDDDDD;
$text-secondary-color: #BBBBBB;
$scroll-down-color: rgba(255, 255, 255, 0.9);
$section-overlay-color: rgba(0,0,0,0.6);

$side-bar-width: 270px;

$menu-toggle-color: rgba(52, 58, 64, 0.8); //#343a40
$menu-toggle-hover-color: rgb(62, 68, 74); 

$social-media-color: rgba(200, 200 ,200 , 0.6);
$social-media-hover-color: rgb(59, 89, 152);

$post-h2-color: #EEEEEE;


// Images
$home-bg-img: "/images/home-bg-img.jpg";
$sion-img: "/images/sion-img.jpg";


/* Site Wide Styling */

html, body {
  height: 100%;
}
body {
  color: $text-color;
  background-color: $site-bg-color;
  overflow-y: hidden;
}

p {
  line-height: 1.8rem;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}

.content-container {
  height: 100%;
  overflow-y: scroll;
}


.header-caption {
  display: block;
  width: 100%;
  padding-top: 10%;
  padding-right: auto;
  padding-bottom: 5%;
  padding-left: 7%;
}

section {
  display: block;
  height: 60%;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  section {
    display: block;
    height: 100%;
  }
}


/* HOME */

#home {
  width: 100%;
  min-height: 34rem;
  background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0), $section-overlay-color), url($home-bg-img);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  position: relative;
}
.scroll-down {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  visibility: hidden;
}


@media (min-width: 768px) {
  .scroll-down {
    bottom: 5rem;
    visibility: visible;
  }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $section-overlay-color;
}

/* Nav Bar */

.nav-header {
  margin-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-header a {
  color: $link-color;
  text-align: center;
  font-size: 40px;
  padding: 15px;
}

.nav-header a:hover {
  color: none;
  background: none;
  text-decoration: none;
}

.nav-link {
  color: $link-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  height: 100%;
  font-size: 26px;
  transition: 0.3s ease-in-out;
  background-color: rgba(40, 40, 40, 0.4);
}

.nav-link:hover {
  color: $hover-color;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}

#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: $side-bar-width;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX($side-bar-width);
  background: rgba(10,10,15,1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: $side-bar-width;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.sidebar-nav >.nav-item a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: $side-bar-width;
  width: $side-bar-width;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  position: fixed;
  right: 20px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: $menu-toggle-color;
  line-height: 50px;
  z-index: 999;
  border: solid 1px rgba(255,255,255,0.2);
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: $menu-toggle-hover-color;
}

.social-media-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.social-media-bar a {
  color: $social-media-color;
  margin-left: 5px;
  margin-right: 25px;
}

.social-media-bar a:hover {
  color: $hover-color;
}

.social-media-bar a span {
  display: inline-block;
  vertical-align: middle;
}

/* Footer */

/*
footer {
  position: sticky;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 30% , rgba(0,0,0,0.8) 100%);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

footer.hide {
  position: sticky;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateY(10rem);
}
*/

/* Blog */
.profile-img {
  display: inline;
  width: 230px;
  margin: auto;
  border-radius: 50%;
}
.blog-bg h1{
  display: inline;
}

.post {
  margin-top: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  width: 84%;
}
.post h2 {
  color: $post-h2-color;
  margin-bottom: 0;
}

.post-date {
  font-size: 13px;
  color: $text-secondary-color;
  line-height: 1rem;
}

@media (min-width: 768px) {
  .post {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
  }
}

.post-divider {
  line-height: 100%;
  padding: 1rem;
}
