---
---
// Example of variables in SCSS

$link-color: #ccccdd;
$hover-color: #efefff;

// Page Navbar Styling
#PageNav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
#PageNav ul li {
  display: inline-block;
  margin: 20px 0px 20px;
}
#PageNav ul li a {
  padding: 10px 70px 10px;
  margin: 10px 0 10px;
  transition: 0.2s ease;
  color: $link-color;
  font-size: 20px;
  text-decoration: none;
}

#PageNav ul li a:hover{
  border-top: 2px solid #eeeeff;
  border-bottom: 2px solid #eeeeff;
  color: $hover-color;
  font-style: bold;
}

// Site Wide Styling
html {
  height: 100%;
}
body {
  min-height: 100%;
  color: white;
  background-color: #444444;
}