---
---
// Example of variables in SCSS

$link-color: #ccccdd;
$hover-color: #efefff;
$site-bg-color: #444444;

// Site Wide Styling

html, body {
  height: 100%;
}
body {
  color: white;
  background-color: $site-bg-color;
}