@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>About Sion Kim Photography</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <img src="http://via.placeholder.com/300x300" alt="Alternate Text" />
        </div>
    </div>
    <div class="">
        <h2 class="text-center">Pricing</h2>
        <div class="card-group">
            <div class="card">
                <div class="card-block">
                    <h4 class="text-center card-title">Hourly</h4>
                    <ul>
                        <li>Thing 1</li>
                        <li>Thing 2</li>
                        <li>Thing 3</li>
                    </ul>
                    <p></p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="text-center card-title">Flat Rate</h4>
                    <ul>
                        <li>Thing 1</li>
                        <li>Thing 2</li>
                        <li>Thing 3</li>
                    </ul>
                    <p></p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="text-center card-title">Events</h4>
                    <ul>
                        <li>Thing 1</li>
                        <li>Thing 2</li>
                        <li>Thing 3</li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

