@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

<div id="featuredImageCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#featuredImageCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#featuredImageCarousel" data-slide-to="1"></li>
        <li data-target="#featuredImageCarousel" data-slide-to="2"></li>
        <li data-target="#featuredImageCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- User media queries to change the max height of images based on size of display -->
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="http://via.placeholder.com/1920x600" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="http://via.placeholder.com/1920x600" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="http://via.placeholder.com/1920x600" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="http://via.placeholder.com/1920x600" alt="Fourth slide">
        </div>
    </div>
</div>
<div class="section">
        <h1 class="text-center mt-5">Sion Kim</h1>
        <p class="text-center">Landing page content</p>
</div>

<div class="section container">
    <h2 class="text-center">Gallery</h2>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="http://via.placeholder.com/325x180" alt="image one" />
            <div class="card-block">
                <h4 class="card-title text-center">Card title</h4>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="http://via.placeholder.com/325x180" alt="image two" />
            <div class="card-block">
                <h4 class="card-title text-center">Card title</h4>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="http://via.placeholder.com/325x180" alt="image three" />
            <div class="card-block">
                <h4 class="card-title text-center">Card title</h4>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /*  seconds of delay before switching 
        default: 5000ms */
    $('.carousel').carousel({
        interval: 8000
    })
</script>
